__pycache__/
*.pyc
.pytest_cache/
.env
*.egg-info/
.ruff_cache/
captcha_solver/samples/*
!captcha_solver/samples/captcha_1789850752473_40.jpg
!captcha_solver/samples/captcha_1789850752589_41.jpg
!captcha_solver/samples/captcha_1789850752719_42.jpg
!captcha_solver/samples/captcha_1789850752860_43.jpg
!captcha_solver/samples/captcha_1789850752983_44.jpg
!captcha_solver/samples/captcha_1789850753115_45.jpg
!captcha_solver/samples/captcha_1789850753279_46.jpg
!captcha_solver/samples/captcha_1789850753396_47.jpg
!captcha_solver/samples/captcha_1789850753512_48.jpg
!captcha_solver/samples/captcha_1789850753637_49.jpg
captcha_solver/tools/auto_labels.json
captcha_solver/tools/disagreements.json
captcha_solver/tools/review/
